<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>주문페이지</title>
</head>
<body>
<div class="container">
    <div class="container p-5 my-5 bg-dark text-white text-center ">
        <h2>주문페이지</h2>
    </div>
    <div>
        <form action="/order" method="post">
            <div class="form-select-lg">
                <select name="memberId" id="member">
                    <option value="">회원선택</option>
                    <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.nickname}"></option>
                </select>
            </div>

            <div class="form-select-lg">
                <select name="productId" id="product">
                    <option value="">상품선택</option>
                    <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" th:for="count" th:text="#{label.orderList.count}"></span>
                <input type="text" class="form-control" id="count" name="count" placeholder="주문 수량을 입력하세요">

            </div>
            <button type="submit" class="btn btn-primary">주문</button>
            <button class="btn btn-danger" th:href="|location.href='@{/orders}'|">취소</button>
            <button class="btn btn-danger" th:href="|location.href='@{/}'|">메인화면</button>
        </form>

    </div>
</div>
</body>
</html>