<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="container p-5 my-5 bg-dark text-white text-center ">

        <h2>유명성 쇼핑몰 포트폴리오</h2>
    </div>
    <div class="d-flex justify-content-center gap-5">
        <button class="btn btn-primary btn-lg" type="button" onclick="location.href='/member/signup'">회원가입</button>
        <button class="btn btn-success btn-lg" type="button" onclick="location.href='/login'">로그인</button>
        <button class="btn btn-info btn-lg" type="button" onclick="location.href='/post'">고객문의</button>
        <button class="btn btn-info btn-lg" type="button" onclick="location.href='/product/book'">상품</button>


    </div>
    <div>

        <form th:object="${product}" class="form-control">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>닉네임</th>
                    <th>상품명</th>
                    <th>저자</th>
                    <th>가격</th>
                    <th>수량</th>
                    <th>등록 시간</th>
                    <th>수정 시간</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="products:${product}">
                    <td>
                      <a  th:text="${products.id}" th:href="@{/product/book/{bookId}(bookId=${products.id})}"> </a>
                    </td>
                    <td>
                        <a th:text="${products.nickname}" th:href="@{|/product/book/${products.id}|}"> </a>
                    </td>
                    <td th:text="${products.name}"></td>
                    <td th:text="${products.creator}"></td>
                    <td th:text="${products.price}"></td>
                    <td th:text="${products.quantity}"></td>
                    <td th:text="${products.createTime}"></td>
                    <td th:text="${products.modifyTime.format(products.modifyTime,'dd MMMM yyyy')}"></td>

                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="d-flex justify-content-end gap-5">
    <button class="btn btn-primary btn-lg" th:onclick="|location.href='@{/product/book/insert}'|"> 상품 추가 </button>
    </div>
</div>
<!--    <div class="col-1">
        <button class="btn-primary" type="button" th:text="회원가입"
                th:onclick="|location.href='@{/member/signup}'|"></button>
        <button class="btn-primary" type="button" th:text="로그인"
                th:onclick="|location.href='@{/login}'|"></button>
        <button class="btn-primary" type="button" th:text="고객문의"
                th:onclick="|location.href='@{/post}'|"></button>
    </div>-->

</div>

</body>
</html>